[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[user]
	email = george.tolin84@gmail.com
	name = airesumewriter
[http]
	postBuffer = 524288000
[core]
	compression = 9
